.navbar {
    background: linear-gradient(100deg, #52B69A 50%, #34A0A4);
    font-size: medium;
    font-weight: 500;
    .nav-link {
        color:white;
    }
}

.registration-btn {
    font-size: medium;
}

.login-btn {
    font-size: medium;
}

.login-btn:hover {
    border: 1px solid #52B69A;
    color: white;
    background: #52B69A;
}

.link-to-nav-items {
    text-decoration: none;
    color: white;
    font-size: large;
    text-shadow: 2px 2px 2px gray;
    transition-duration: 0.5s;
}

.link-to-nav-items:hover {
    color: #B5E48C;
}